*.suo
*.sdf
*.opensdf
*.ipch
*.db-shm
*.opendb

/Data/**/*.sav
/Data/**/*.xml
/Mods/*
/Binaries/*
/DerivedDataCache/*
/Intermediate/Build/*
/Saved/*
/Temp/*
/BackUp/*
/.vs/RogueTraderHelper/FileContentIndex/*

/.vs/RogueTraderHelper/v17/Browse.VC.db
/.vs/RogueTraderHelper/v17/Browse.VC.db-wal
/.vs/RogueTraderHelper/v17/Solution.VC.db
/.vs/RogueTraderHelper/v17/Solution.VC.db-wal